section.serviceAc {
    height: 680px;
    background-size: cover;
    padding-top: 0;
    background: url(../images/ac2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.innersec {
    background: #0000008f;
    padding-top: 55px;
}
.back {
    margin: 15px auto;
    width: 56%;
}
.backTop{
    display: none;
}
@media (min-width: 320px) and (max-width: 767px){
	section.serviceAc {
    height: 960px;
}
	.bg{
    height: 837px;
    margin: 63px auto;
    width: 93%;
    background-size: cover;
    position: relative;
    margin-top: 0px;
}
.innersec {
    background: #0000008f;
    padding-top: 55px;
    height: 960px;
}
.back{
    display: none;
}
.backTop {
    margin: 15px auto;
    width: 73%;
    display: block;
}
}